/* 全局样式表 */
html,
body,
#app {
    margin: 0;
    padding: 0;
}
html{
	font-family: "Arial","微软雅黑";
	font-size: 14px;
	color: #666666;
}
ul{
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
.contentWidth{
	width: 1200px;
	margin: 0 auto;
}
.el-cascader-menu__wrap,
.el-scrollbar__wrap {
	/* width: 1200px; */
  	height: 450px !important;
}